*.log
*.mo
*.orig
*.pyc
*.swo
*.swp
*.tags*
*.wpr
*.wp
*project
*workspace
*~
.DS_Store*
.idea/*
.installed.cfg
.settings
*.egg-info
bin
build
develop-eggs
dist
eggs
include
lib
local
log.html
output.xml
parts
report.html
selenium-screenshot*
Thumbs.db
var
tags
buildout-cache
atlassian-*.xml
node_modules

src/senaite.core.listing/
src/senaite.core.spotlight/
src/senaite.core.supermodel/
src/senaite.core/
src/senaite.impress/
src/senaite.jsonapi/
src/senaite.lims/
src/senaite.panic/
/.Python
/pyvenv.cfg
