fieldset#PatientCondition {
    border-top:1px solid #CDCDCD;
    margin-top:5px;
}
fieldset#PatientCondition div.fieldline {
    margin-bottom:10px;
    clear:both;
}
fieldset#PatientCondition div.fieldline div.fieldline-label,
fieldset#PatientCondition div.fieldline div.fieldline-content {
    float:left;
}
fieldset#PatientCondition div.fieldline div.fieldline-label {
    width:80px;
}
fieldset#PatientCondition div.fieldline div.fieldline-content {
}
div.clear-both {
    clear:both;
}