fieldset#Symptoms {
    margin-top:5px;
    padding:0px;
    border-top:2px solid #AEAEAE;
}
fieldset#Symptoms #Symptoms_table {
    width:100%;
    border:1px solid #CDCDCD;
    border-top:none;
}

fieldset#Symptoms #Symptoms_table td {
    padding-right:10px;
    border-bottom:1px solid #DCDCDC;
    white-space:nowrap;
}